.footer-conteiner {
  margin-left: 70px;
}
.social-list-footer {
  display: flex;
}
.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}
.footer-paragraf {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 16px;
}
.social-footer-list-icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:focus,
.social-list-link-footer:hover {
  background-color: var(--blue-color);
}
.social-list-link-footer:focus .social-footer-list-icon,
.social-list-link-footer:hover .social-footer-list-icon {
  fill: var(--white-color);
}
